.card {
  height: 70rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card__side {
    height: 70rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    .card__side--back {
      transform: rotateY(-180deg); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-image: url(../images/main-background.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #AEAFB1;
  box-sizing: border-box; }

.heading-primary {
  margin-left: 2rem; }
  .heading-primary--main {
    display: block;
    font-weight: 300;
    font-size: 7rem;
    line-height: 1;
    width: 34rem; }
  .heading-primary--sub {
    display: block;
    font-weight: 300;
    font-size: 3.6rem;
    line-height: 1;
    padding-top: 1rem;
    width: 34rem; }

.hero-box {
  font-weight: 300; }
  .hero-box .heading-secondary {
    color: #F69B16;
    font-size: 4.8rem;
    font-weight: 300; }
  .hero-box-text {
    font-size: 1.5rem; }
  .hero-box__heading-fact {
    font-size: 2.1rem;
    font-weight: 300; }
    .hero-box__heading-fact--stat {
      color: #F69B16;
      font-size: 2.1rem; }
    .hero-box__heading-fact--unit {
      font-size: 1.4rem; }

.section-stats-heading {
  color: #F69B16;
  display: block;
  font-weight: 300;
  text-align: center;
  width: 100%; }
  .section-stats-heading__primary {
    font-size: 6.3rem; }
  .section-stats-heading__secondary {
    font-size: 2.4rem; }

.card {
  text-align: center; }
  .card-title-text {
    border: 2px solid #F69B16;
    border-radius: 10px;
    color: #F69B16;
    font-size: 3.6rem;
    font-weight: 300; }
  .card__details ul {
    list-style-type: none; }
  .card__details li {
    color: #4E5458;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: left; }
  .card__details--bold {
    color: #1F5479;
    font-weight: 700; }

.about-contact {
  color: #4E5458; }

.card-row {
  padding: 6.4rem 14rem 9.1rem 14rem; }

.card {
  width: 25%;
  max-width: 50rem;
  min-width: 46rem; }
  .card__side {
    background-color: #E2E3E5;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.16); }
  .card-title-box {
    background-color: #45678A;
    height: 14rem;
    padding: 4rem 7rem; }
  .card-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56rem; }
  .card__details {
    padding: 2.44rem 3.75rem 0; }
    .card__details li {
      padding-bottom: 2rem; }

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  max-width: 80vw; }
  .header__text-box {
    display: flex; }

.hero-box {
  width: 27rem; }
  .hero-box-fact {
    display: flex;
    justify-content: space-between; }

.map-box {
  margin: 0 auto;
  max-width: 80vw; }

.leaflet-popup-content img {
  width: 100%; }

#mapid {
  height: 66vh;
  width: 100%; }

.about-contact {
  background-color: rgba(174, 175, 177, 0.95); }
  .about-contact-heading-box {
    background-color: rgba(78, 84, 88, 0.5); }
  .about-contact-row {
    display: flex; }

.section-stats {
  background-color: rgba(31, 84, 121, 0.9);
  margin-top: 6.5rem; }
  .section-stats-text-box {
    background-color: rgba(254, 254, 254, 0.25);
    padding: 5rem 0 4.5rem; }

.card-row {
  display: flex;
  justify-content: space-around; }
