.footer {
    align-items: center;
    background-color: $text-color-quatriary;
    color: $text-color-secondary;
    display: flex;
    font-size: 1.4rem;
    font-weight: 300;
    // height: 20rem;
    justify-content: space-around;
    margin-top: 5rem;
    padding: 3rem 0;

    @media only screen and (max-width: 500px) {

        flex-direction: column;
        & > * {
            flex: 1;
        }
     }

    & ul {
        list-style-type: none;
        @media only screen and (max-width: 500px) {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & > * {
                flex: 1;
                padding: 10px;
            }
         }
        
    }

    & .fa-icons {
        text-align: center;
    }

    & a {
        color: $text-color-secondary;
        text-decoration: none;

        & i {
            margin-right: 1rem;
        }
    }

    & .social-media {
        display: flex;

        
            &__links {
                @media only screen and (max-width: 800px) {

                   display: none;
        
                }
            }

 
       
        
    }
    & .newsletter {

        @media only screen and (max-width: 800px) {

            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
 
         }
        

        &__text {
            padding-left: .5rem;
        }

        &__input {
            background-color: $text-color-quatriary;
            border: 1px solid $text-color-secondary;
            border-radius: 10px;
            height: 4rem;
            margin-top: 2rem;
            padding-left: 2rem;
            width: 21rem;
        }

        &__button {

        }
    }
    
}