.footer {
    align-items: center;
    background-color: $text-color-quatriary;
    color: $text-color-secondary;
    display: flex;
    font-size: 1.4rem;
    height: 20rem;
    justify-content: space-around;
    margin-top: 5rem;

    & ul {
        list-style-type: none;
    }
}