.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    max-width: 80vw;

    &__text-box {
        display: flex;
    }
}
.hero-box {
    width: 27rem;
    &-fact {
        display: flex;
        justify-content: space-between;
    }
}