.map-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 80vw;
    position: relative;

    @media only screen and (max-width: 114rem) {

        max-width: 90vw;

    }
}
.leaflet-container a.leaflet-popup-close-button {
    width: 40px;
        height: 40px;
        font: 36px/34px Tahoma, Verdana, sans-serif;
        color: #777B7F;
}


.leaflet-popup-content {
    border-radius: 0;
    font-family: 'lato', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    width: 43rem !important;

    &-wrapper {
        border-radius: 0;
        border: none;
        padding: 0;
    }
    
    img {
        width: 100%;
        height: 25rem;
    }

    & .popup-text {
        padding: 2rem 6rem;
    }

    h2 {
        font-size: 3.6rem;
        font-weight: 300;
        padding-bottom: 2rem;
    }

    ul {
        list-style-type: none;
         li {
             font-size: 1.2rem;
             padding: .5rem 0;
         }
    }

    p {
        font-size: 1.6rem;
        line-height: 1.5;
    }
}

#mapid {
    position: relative;
    opacity: .9;
    height: 66vh;
    width: 100%;

    @media only screen and (max-width: 90rem) {

        height: 40vw;

    }
}

#smallMap {
    border: 2px dashed $color-blue-medium;
    position: absolute;
    opacity: .9;
    height: 45rem;
    width: 25rem;
    right: 3rem;
    top: 1rem;
    z-index: 401;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    /*dim the background*/
    margin-bottom: 3rem;
}