.map-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 auto;
    max-width: 80vw;

    @media only screen and (max-width: 114rem) { 

        max-width: 90vw;

    }
}

.leaflet-popup-content img {
    width: 100%;
}

#mapid {
    height: 66vh;
    width: 100%;
    margin-bottom: 3rem;
    @media only screen and (max-width: 90rem) {

        height: 40vw;

    }
}