.about-contact {
    background-color: $background-color-grey;
    margin-top: 5rem;

    &-heading-box {
        
        background-color: $background-color-grey-dark;
        padding: 5.4rem 0 5.4rem;

        &__heading {
            align-items: center;
            display: flex;
            margin: 0 auto;
            max-width: 80vw;
            @media only screen and (max-width: 700px) {
                flex-wrap: wrap;
            }
        }
    }

    &__heading {
        padding-left: 1.6rem;

    }

    &__logo img {

        @media only screen and (max-width: 700px) {
            display: none;
        }
    }

    &__row {
        display: flex;
        justify-content: space-evenly;
        max-width: 80vw;
        margin: 0 auto;
        padding: 6.7rem 0;

        & > * {
            flex: 1;
        }

        @media only screen and (max-width: 90rem) {

            flex-direction: column;

            & > * {
                margin-bottom: 20px;
            }

        }
    }

    &__text-box {
        max-width: 100%;

        &--details {
            
            @media only screen and (max-width: 90rem) {

                line-height: 1.9;
    
            }
        }
        
    }

    &__contact-box {
        padding-left: 12rem;

        @media only screen and (max-width: 90rem) {

            padding-left: 0;

        }
    }

    &__form {
        max-width: 80%;

        @media only screen and (max-width: 90rem) {

            max-width: 100%;

        }

        
        
    }
    & .form__input {
        background-color: $color-grey-dark;
        border: none;
        border-radius: 10px;
        height: 5rem;
        margin-bottom: 1.5rem;
        padding-left: 2rem;
        width: 100%;
    }

    & .form__group textarea {
        height: 13rem;
        padding-top: 1.6rem;
    }
}