.about-contact {
    background-color: $background-color-grey;
    margin-top: 5rem;

    &-heading-box {
        
        background-color: $background-color-grey-dark;
        padding: 5.4rem 0 5.4rem;

        &__heading {
            align-items: center;
            display: flex;
            margin: 0 auto;
            max-width: 85vw;
        }
    }

    &__heading {
        padding-left: 1.6rem;
    }

    &__row {
        display: flex;
        justify-content: space-around;
        max-width: 85vw;
        margin: 0 auto;
        // padding-left: 27.8rem;
        padding-top: 6.7rem;
    }

    &__text-box {

        width: 53.6rem;
        height: 55rem;
        @media only screen and (max-width: 90rem) {

            height: 43rem;

        }
    }

    &__contact-box {
        // padding-left: 29.2rem;
    }

    &__form {
        width: 53.6rem;
    }
    & .form__input {
        background-color: $color-grey-dark;
        border: none;
        border-radius: 10px;
        height: 5rem;
        margin-bottom: 1.5rem;
        padding-left: 2rem;
        width: 100%;
    }

    & .form__group textarea {
        height: 13rem;
        padding-top: 1.6rem;
    }
}