$text-color-primary:#AEAFB1;
$title-color:rgb(199, 199, 199);
$text-color-secondary: #F69B16;
$text-color-tertiary: #1F5479;
$text-color-quatriary: #4E5458;
$background-color-blue-dark: rgba(31, 84, 121, .9);
$background-color-off_white: rgba(254, 254, 254, .25);
$background-color-grey: rgba(174, 175, 177, .95);
$background-color-grey-dark: rgba(78, 84, 88, .5);
$color-blue-medium: #45678A;
$color-blue-extra_light: #E2E3E5;
$color-grey-dark: #777B7F;
