$text-color-primary:#AEAFB1;
$text-color-secondary: #F69B16;
$text-color-tertiary: #1F5479;
$background-color-blue-dark: rgba(31, 84, 121, .9);
$background-color-off_white: rgba(254, 254, 254, .25);
$color-blue-medium: #45678A;
$color-blue-extra_light: #E2E3E5;