.card-row {
    padding: 6.4rem 14rem 9.1rem 14rem;
}

.card {
    height: 70rem;
    width: 50rem;

    &__side {
        background-color: $color-blue-extra_light;
        box-shadow: 0 20px 15px rgba(0, 0, 0, .16);
    }

    &-title-box {
        background-color: $color-blue-medium;
        height: 14rem;
        padding: 4rem 7rem;
    }

    &-img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 56rem;
    }

    &__details {
        padding: 2.44rem 3.75rem 0;

        & li {
            padding-bottom: 2rem;
        }
    }
}