.card-row {
  padding: 6.4rem 0 9.1rem 0;
}

.card {
  width: 50rem;
  height: 70rem;
  &__side {
    background-color: $color-blue-extra_light;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.16);
    height: 70rem;
  }

  &-title-box {
    background-color: $color-blue-medium;
    height: 14rem;
    padding: 4rem 7rem;
  }

  &-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54rem;
    
    & .piggy {
        margin-left: -50px;
    }
  }

  &__details {
    padding: 2.44rem 3.75rem 0;

    & li {
      padding-bottom: 2rem;
    }
  }
  @media only screen and (max-width: 114rem) {
    height: 60rem;
    width: 40rem;

    &__side {
      height: 60rem;
    }

    &-img-wrapper {
      height: 40rem;

      img {
        width: 80%;
      }
    }
  }

  @media only screen and (max-width: 1210px) {
    width: 50rem;
    height: 70rem;
    margin-top: 30px;
    &__side {
      background-color: $color-blue-extra_light;
      box-shadow: 0 20px 15px rgba(0, 0, 0, 0.16);
      height: 70rem;
    }

    &-title-box {
      background-color: $color-blue-medium;
      height: 14rem;
      padding: 4rem 7rem;
    }

    &-img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 54rem;
    }

    &__details {
      padding: 2.44rem 3.75rem 0;

      & li {
        padding-bottom: 2rem;
      }
    }
  }

  @media only screen and (max-width: 575px) {
    width: 95%;
  }
}
