*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(../images/main-background.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: "Lato",
        sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $text-color-primary;
    // padding: 3rem;

    box-sizing: border-box;
}

// .container {
//     margin: 0 auto;
//     max-width: 80vw;
// }