// Header

.heading-primary {
  margin-left: 2rem;
  color: $title-color;

  &--main {
    display: block;
    font-weight: 300;
    font-size: calc(2vw + 3rem);
    line-height: 1;
  }

  &--sub {
    display: block;
    font-weight: 300;
    font-size: calc(1vw + 2rem);
    line-height: 1;
    padding-top: 1rem;
  }
}

.hero-box {
  font-weight: 300;

  .heading-secondary {
    color: $text-color-secondary;
    font-size: calc(1vw + 2rem);
    font-weight: 300;
  }

  &-text {
    font-size: 1.5rem;
    & #commute {
        background-color: rgba(174, 175, 177, 0.5);
        border: 1px solid #EEE;
        border-radius: 3px;
        color: $text-color-primary;
        width: 4rem;
        height: 2.5rem;
        font-family: "Lato";
        font-size: 1.8rem;
        font-weight: 300;
        margin: 0 2px;
        padding-bottom: 1px;
        text-align: center;
        &:focus {
            outline: none;
            border: 2px solid rgba(246, 155, 22, .6);
    } 
    }
  }

  &__heading-fact {
    font-size: 2.1rem;
    font-weight: 300;

    @media only screen and (max-width: 90rem) {
      font-size: 1.6rem;
    }

    &--stat {
      color: $text-color-secondary;
      font-size: 2.1rem;

      @media only screen and (max-width: 90rem) {
        font-size: 1.6rem;
      }
    }

    &--unit {
      font-size: 1.4rem;

      @media only screen and (max-width: 90rem) {
        font-size: 1.2rem;
      }
    }
  }
}

// Stats

.section-stats-heading {
  color: $text-color-secondary;
  display: block;
  font-weight: 300;
  text-align: center;
  width: 100%;
  padding: 1rem;

  &__primary {
    font-size: calc(2vw + 2rem);
  }

  &__secondary {
    font-size: calc(1vw + 1.2rem);
  }
}

.card {
  text-align: center;

  &-title-text {
    border: 2px solid $text-color-secondary;
    border-radius: 10px;
    color: $text-color-secondary;
    font-size: calc(0.7vw + 1.6rem);
    font-weight: 400;
  }

  &__details {
    & ul {
      list-style-type: none;
    }

    & li {
      color: $text-color-quatriary;
      font-size: 1.6rem;
      font-weight: 300;
      text-align: left;
      @media only screen and (max-width: 114rem) {
        font-size: 1.3rem;
      }
      @media only screen and (max-width: 1210px) {
        font-size: 1.6rem;
      }
      @media only screen and (max-width: 575px) {
        font-size: 1.4rem;
      }

    }

    &--bold {
      color: $text-color-tertiary;
      font-weight: 700;
    }
  }
}
// About
.about-contact {
  color: $text-color-quatriary;

  &__heading {
    font-weight: 300;
    line-height: 1.35;

    &--primary {
      font-size: calc(1vw + 3rem);

    }

    &--secondary {
      font-size: calc(0.5vw + 2rem);
    }
  }

  &__text-box {
    &--heading {
      font-size: 2.4rem;
      font-weight: 500;

      @media only screen and (max-width: 90rem) {
        font-size: 2rem;
      }
    }

    &--details {
      font-family: "Merriweather", serif;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 2.5;
      padding-top: 1rem;

      @media only screen and (max-width: 90rem) {
        font-size: 1.6rem;
      }
    }
  }

// Contact
  &__contact-box {
    &--heading {
      font-size: 2.4rem;
      font-weight: 500;
      margin-bottom: 2.5rem;

      @media only screen and (max-width: 90rem) {
        font-size: 2rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  & .form__input::placeholder {
    color: #1b2f33;
    font-size: 1.4rem;
    font-family: "lato";
  }
}

footer {
  & .newsletter {
    &__input {
      &::placeholder {
        color: $text-color-secondary;
        font-size: 1.4rem;
        font-family: "lato";
        font-weight: 300;
      }
    }

    &__button {
      color: $text-color-secondary;
      font-size: 1.4rem;
      font-family: "lato";
      font-weight: 300;
    }
  }
}
